* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #161b22;
  color: white;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}


/* Home page  */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: white;
}

body {
  background-color: #161b22;
  overflow-x: hidden;
}

/* Home Container */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  margin-bottom: 50px;
}

.welcome-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ff6b96;
}

.welcome-section h2 {
  font-size: 1.8rem;
  color: #f13568;
}

/* Intro Article */
.intro-article {
  background-color: #232931;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 1.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.intro-article p{
  padding:20px;
}
/* Sections */
section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 1.8rem;
  color: #f13568;
  margin-bottom: 10px;
}

section p {
  background-color: #232931;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 1.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}




.pageIntro {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
  align-items: center;
  height: 70px;
  border-bottom: 2px solid #30363d;
  width: 100%;
}
.pageIntro h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 35px;
  color: #f13568;
}
.pageIntro .links {
  display: flex;
  align-items: center;
}
.pageIntro .links a {
  color: whitesmoke;
  background: linear-gradient(135deg, #c2185b, #e0245e, #ff7675);
  border-radius: 8px;
  padding: 12px 24px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
}
.pageIntro .links a:hover {
  background: linear-gradient(135deg, #a91448, #c2185b, #e0245e, #ff7675);
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.pageIntro .links a:active {
  transform: scale(0.95);
}

.main {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.navbar {
  border-right: 1px solid #333;
  background-color: #161b22;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  height: 100vh;
}
.introduction {
  margin-bottom: 10px;
}
.content {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh);
}

.footer {
  height: 85px;
}

.chapter {
  font-size: 18px;
  text-align: center;
  padding: 12px 20px;
  width: 250px;
  border-radius: 12px;
  background-color: #1f2a3a;
  color: #ffffff;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.chapter:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.chapter:active {
  transform: scale(0.98);
}

.chapterSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chapterName {
  font-size: 40px;
  background: linear-gradient(
    45deg,
    #004d40,
    #00796b,
    #00897b,
    #009688,
    #00bfa5
  );
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chapter_summary {
  margin: 5px;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
  background-color: #1f2a3a;
  border-radius: 15px;
  padding: 20px;
}

/* VerseDetails.css */
.verse_details {
  padding: 3px;
}
.shlok {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 9);
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 12px;
  background: linear-gradient(
    45deg,
    #004d40,
    #00796b,
    #00897b,
    #009688,
    #00bfa5
  );
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.5s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.translations {
  text-align: center;
  padding: 20px;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #232931;
  /* border: 3px solid white; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 9);
  border-radius: 15px;
}
.traslationEnglish {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 9);
  border-radius: 8px;
  font-weight: bold;
  color: #ffc000;
  padding: 10px;
  font-style: italic;
}
.traslationHindi {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 9);
  border-radius: 8px;
  font-style: italic;
  font-weight: bold;
  color: #ffc000;
  padding: 10px;
}

.purport {
  border-radius: 12px;
  background-color: #161b22; /* Darker background color */
  font-size: 1.6rem;
  margin-top: 15px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  padding-top:10px;
  padding-bottom:10px;
}

.purportHindi,
.purportEnglish {
  border-radius: 8px;
  padding: 20px;
  background-color: #1f2a3a; 
  color: #f0f0f0; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 9);
  margin-bottom: 20px;
}
.options {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.6rem;
  margin: 10px;
  padding: 5px;
  background-color: #232931;
  text-align: center;
}
.ham {
  display: none;
  background-color: #232931;
}
.chSelection {
  background-color: #232931;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1450px) {
  .navbar {
    background-color: #161b22;

    width: 260px;
  }
  .chapter {
    width: 220px;
  }
}
@media (max-width: 1250px) {
  .navbar {
    background-color: #161b22;

    width: 240px;
  }
  .chapter {
    width: 200px;
  }
}



@media (max-width: 1050px) {
  .ham {
    display: block;
  }
  .navbar {
    position: absolute;
    left: 0%;
    /* left: -100%; */
    transition: all 0.3s;
    z-index: 1;
    width: 300px;
  }
  .closed {
    left: -100%;
  }
  .open {
    left: 0;
  }
  .chapter {
    width: 250px;
  }
  .introduction {
    display: flex;
    align-items: center;
  }
  .options {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .pageIntro {
    padding: 0;
  }
  .pageIntro h1 {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .pageIntro {
    padding: 0;
  }
  .pageIntro h1 {
    padding: 0;

    font-size: 30px;
  }
  .pageIntro .links a {
    padding: 12px 12px;
    font-weight: bold;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 370px) {
  .pageIntro {
    padding: 0;
  }
  .pageIntro h1 {
    padding: 0;
    font-size: 25px;
  }
  .pageIntro .links a {
    padding: 10px 10px;
    font-weight: bold;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
